.Tile {
    overflow: hidden;
    color: #000;
    padding: 24px;
    margin: 24px auto;
    width: calc(25% - 32px - 52px);
    min-height: 14vw;
    border: 2px solid #000;
    box-shadow: 0 0 0 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    
    .Tile-header {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        text-align: left;

        img {
            height: 40px;
            margin: 0 8px 0 0;
        }
    }

    h3 {
        font-size: 0.75em;
        margin: 0;
    }
    
    .Tile-content {
        text-align: justify;
        font-size: 0.5em;
        margin-top: 8px;
        margin-bottom: 24px;
    }

    .Chips {
        display: flex;
        flex-wrap: wrap;
    }
}
