body {
  font: normal 16px/1.9em "Lato", "Helvetica Neue", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-family: 'Bebas Neue', 'Arial';
  font-weight: 900;
  font-size: 1.5em;
}

h1, h2 {
  color: #846fad;
  font-family: 'Bebas Neue', 'Arial';
  line-height: 100%;
  font-size: 4em;
}

h2, h3 {
  font-size: 2em;
  color: #000;
}

h4 {
  font-family: 'Bebas Neue', 'Arial';
  font-size: 1.5em;
}

.background {
  background: linear-gradient(to bottom, #eeb868 0%, #eeb868 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: black;
  text-decoration: none;
  transition: background-size 0.5s;
  margin: 0 4px;
}

a {
  color: black;
  text-decoration: none;
}

.navigation-link:hover {
  background-size: 4px 50px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    line-height: 100%;
  }

  h2 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 2em;
  }

  .Headline {
    font-size: 4em;
  }
}