.Welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 48px;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;

    .Welcome-section {
        text-align: left;
        width: 100%;

        .Welcome-section-tiles {
            display: flex;
            justify-content: space-between;
            margin: 24px 0;
        }

        .Welcome-divider {
            width: 100%;
            height: 2px;
            background-color: #000;
            margin-top: 24px;
        }
    }

    .Welcome-greeting-container {
        text-align: left;
        display: flex;
        
        .Welcome-greeting-container-greeting {
            align-items: center;
            max-width: 800px;
            text-align: justify;
            margin-right: 24px;
            margin-bottom: 24px;

            .Welcome-greeting-Chips {
                display: flex;
                margin-top: 24px;

                .Chip {
                    padding: 4px 12px;
                    font-size: 2em;
                }
            }
            
            h2 {
                font-size: 2em;
                font-weight: 100;
                margin: 0;
            }
        }

    }
}